
.home {
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.home .content .hi {
    font-size: 3rem;
    color: #E28528;
    font-family: ui-sans-serif;
}
.home .content h3 {
    line-height: 50px;
    font-weight: 600;
    font-size: 2.1rem !important;
    color: #111;
    text-transform: uppercase;
    font-family: ui-sans-serif;
}
.home .content h3 span {
    color: #E28528;
    text-transform: uppercase;
    font-family: ui-sans-serif;
}
img.img-fluid.mx-auto.d-block.img1 {
    border-radius: 10px; 
}
.home .content .text {
    font-family: ui-sans-serif;
    font-size: 1.3rem;
    color: #666; 
    margin-top: 15px;
}
button.btn1.btn.btn-primary {
    padding: 17px;
    color: white;
    background-color: #E38528 !important;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
}

.home .content .hi {
    font-size: 2.4rem;
    color: #E38528 ;
    font-family: ui-sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 425px){
    .content {
        margin: 20px 0px;
        text-align: center !important;
        color:#e38528;
    }
 
    span.hi {
        font-size: 30px !important;
    }
    .home .content h3 {
        font-size: 1rem !important; 
    }
    .home .content .text {
        font-size: 1rem;
    }
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .content {
        margin: 20px 0px;
        text-align: center !important;
        color: #e38528;
    }
 
    span.hi {
        font-size: 40px !important;
    }
    .home .content h3 { 
        font-size: 1.2rem !important; 
    }
    .home .content .text {
        font-size: 1.4rem; 
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .content {
        margin: 20px 0px;
        text-align: center !important;
        color: #e38528;
    }
 
    span.hi {
        font-size: 50px !important;
    }
    .home .content h3 { 
        font-size: 1.2rem !important;
        line-height: 50px;
    }
    .home.content .text {
        font-size: 1.3rem;
    }
    p.text {
        font-size: 1.2rem !important;
    }
    
}
@media screen and (min-width: 1024px) and (max-width: 1200px){

    .home .content h3 { 
        font-size: 1.6rem !important; 
    }
}

@media screen and (min-width: 1200px) and (max-width: 1440px){
    .home .content h3 { 
        font-size: 1.7rem; 
    }
}












