span.carousel-control-next-icon {
    background-color: #323232;
    padding: 20px !important;
}

span.carousel-control-prev-icon {
    background-color: #323232;
    padding: 20px !important;
}

.item_introtext {
    background-color: rgba(254, 254, 255, 0.66);
    margin: 0 auto;
    width: 100% !important;
    display: inline-block;
    padding: 25px;
}

.item_introtext h1 {
    font-family: ui-sans-serif;
    font-weight: 900;
    color: #242121c7 !important;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.item_introtext p {
    font-size: 20px;
    margin: 0 0 15px;
    color: #242121c7 !important;
    font-weight: 700;
    font-family: ui-sans-serif;
}
@media (min-width: 320px) and (max-width: 425px){

.item_introtext {
    display: none !important;
}

}
@media (min-width: 425px) and (max-width: 768px){

.item_introtext {
    display: none !important;
}

}